:root {
  /* theme 1 */
  --bg-color: #326789;
  --main-color: #78a6c8;
  --text-color: #e9eef4;
  --red-color: #e65c4f;

  /* theme 2 */
  --main-bg: #f5f5f5;
  --bg2-color: #8fa5b2;
  --main2-color: #c4d0c6;
  --gray: #999999;
  --text2-color: #e3e9e9;
  --ivory: #eae9e7;
  --dark: #282828;
  --black: #2c2a29;
}
h1 {
  font-size: 33px;
}
p {
  font-size: 17px;
}
a {
  text-decoration: none;
  color: var(--bg-color);
}
a:hover {
  color: var(--red-color);
  text-decoration: underline;
}

.btn {
  padding: 5px 15px;
  border-radius: 3px;
  border: 2px solid;
  min-width: 120px;
}

.btn--primary {
  color: var(--dark);
  background-color: transparent;
}
.btn--primary:hover {
  background-color: var(--dark);
  color: var(--text-color);
  transition: 0.3s;
}

.btn--white {
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--text-color);
}
.btn--white:hover {
  background-color: var(--text-color);
  color: var(--dark);
  text-decoration: underline;
  transition: 0.5s;
}

.bg-sinkwang {
  /* background-image: url("./sinkwang.jpg"); */
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("./sinkwang.jpg");
  background-size: cover;
  background-position: center center;
  padding: 150px 0 80px 0;
}

.space {
  height: 150px;
}

.page-top {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)),
    url("./sinkwang.jpg"); */
  background-image: url("./images/bg_img.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 60px 0 10px 0;
  margin-bottom: 100px;
}

.swiper-wrapper {
  /* justify-content: center; */
  align-items: center;
  background-color: var(--black);
  /* margin: 50px 0; */
  padding: 10px 10px 0;
}

.swiper-wrapper img {
  margin-left: 10px;
}
