:root {
  /* theme 1 */
  --bg-color: #326789;
  --main-color: #78a6c8;
  --text-color: #e9eef4;
  --red-color: #e65c4f;

  /* theme 2 */
  --bg2-color: #8fa5b2;
  --main2-color: #c4d0c6;
  --text2-color: #e3e9e9;
  --ivory: #eae9e7;
  --black: #2c2a29;
}
h1 {
  font-size: 38px;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
}

.bg-sinkwang {
  /* background-image: url("./sinkwang.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)),
    url("./sinkwang.jpg");
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
}

.page-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)),
    url("./sinkwang.jpg");
  background-size: cover;
  background-position: center center;
  padding: 30px 0;
}

.swiper-wrapper {
  justify-content: center;
  align-items: center;
  /* background-color: var(--main2-color); */
  background-color: #282828;
  margin: 50px 0;
  padding: 20px 10px;
}
